html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #4a69bd;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
svg {
  background-color: white;
  font: 10px sans-serif;
}
#canvas {
  min-width: 1000px;
  min-height: 600px;
}
#legend {
  background-color: #fef6e5;
}
.tooltip {
  position: absolute;
  padding: 10px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
.tile-text {
  cursor: default;
}
